body {
    font-family: 'roboto';
}

.register-type-section {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 3px 48px -37px;
    position: relative;
    width: 100%;
}

.register-card-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 34px;
}

.register-card h3 {
    font-size: 21px;
    font-family: Roboto;
    color: #444444;
    line-height: 25px;
}

.register-card {
    padding: 29px 25px;
    border: 1px solid #707070;
    border-radius: 10px;
}

.com-btn-red {
    background: #E32328;
    color: #fff;
    font-family: roboto;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 29px;
    border-radius: 25px;
    display: inline-block;
}

.register-card .com-btn-red {
    margin-top: 15px;
}

.opening-balance-section {
    width: 55%;
    margin: auto;
    text-align: center;
    margin-top: 49px;
}

.com-btn-red:hover,
.sub-btn-red:hover,
.menu-type-btn:hover,
.export-btn:hover,
.meal-right .add-btn:hover,
.meal-right .add-btn:hover,
.meal-right .edit-btn:hover,
.add-meal-form input[type="submit"]:hover,
#custom-button:hover,
.red-btn:hover {
    color: #fff;
    text-decoration: none;
    background: #212529;
}

.opening-balance-section h1 {
    font-size: 24px;
    font-family: roboto;
    text-align: center;
    color: #444444;
}

.opening-balance-section input[type="text"] {
    width: 100%;
    border: 1px solid #707070;
    padding: 0px 10px;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
    color: #168D88;
}

.opening-balance-section textarea {
    width: 100%;
    min-height: 85px;
    border: 1px solid #707070;
    padding: 8px;
}

.sub-btn-red {
    background: #E32328;
    color: #fff;
    font-family: roboto;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 29px;
    border-radius: 25px;
    display: inline-block;
    border: 0;
    outline: none !important;
}

.opening-balance-section textarea:focus-visible {
    outline: none;
}

.right-menu {
    border-radius: 15px;
    text-align: center;
    padding: 33px 0px;
    height: 478px;
    box-shadow: 0px 3px 48px -37px;
}

.right-menu ul {
    padding: 0px;
    list-style: none;
    margin-top: 27px;
}

a.right-nav-link {
    font-size: 20px;
    color: #444444;
    font-weight: 700;
    font-family: 'Roboto';
    display: inline-block;

    width: 100%;
    padding: 10px;
    text-decoration: none;
    font-family: 'Roboto';
}

a.right-nav-link.active {
    background: #f2f2f2;
    color: #e32328;
}

a.right-nav-link:hover {
    background: #f2f2f2;
    color: #e32328;
}

.pos-check-out select {
    width: 100%;
    border: none;
    border-bottom: 1px solid #AAAAAA;
    padding: 5px 2px;
    font-family: 'Roboto';
    font-size: 14px;
    outline: none;
    background: transparent;
}

.sub-red-input {
    width: 100%;
    background: #E32328;
    border: none;
    padding: 10px 16px;
    color: #fff;
    font-family: 'Roboto Regular';
    border-radius: 40px;
    outline: none;
}

.sub-red-input:focus {
    outline: none;
    border: none;
}

.sub-red-input:hover {
    color: #fff;
    text-decoration: none;
    background: #212529;
    outline: none;
}

.pos-check-out {
    max-width: 85%;
    margin: auto;
    margin-top: 60px;
}

.back-btn {
    position: absolute;
}

.customer-profile h2 {
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    color: #444444;
}

.customer-profile {
    padding: 25px;
    border-radius: 15px;
}

.customer-profile-form {
    position: relative;
    height: 60px;
    overflow: hidden;
    margin-top: 5px;
}

.customer-profile-form input {
    width: 100%;
    height: 39px;
    color: #000;
    border: 1px solid #AAAAAA;
    padding: 5px 13px;
    border-radius: 8px;
    font-family: 'Roboto';
    font-size: 14px;
    position: absolute;
    bottom: 0;
    box-shadow: none !important;
    background: transparent;
}

.customer-profile-form label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-family: 'Roboto';
    font-size: 14px;
    margin-bottom: 1px;
    color: #444444;
}

.customer-profile-form label::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.customer-profile-form .content-name {
    position: absolute;
    bottom: 0px;
    left: 12px;
    padding-bottom: 5px;
    transition: all 0.3s ease;
    font-weight: 900;
}

.customer-profile-form input:focus {
    outline: none;
}

.customer-profile-form input:focus+.label-name .content-name,
.customer-profile-form input:valid+.label-name .content-name {
    transform: translateY(-100%);
    font-size: 11px;
    left: 12px;
    background: #fff;
    top: 26px;
    height: 11px;
}

.customer-profile-form input:focus+.label-name::after,
.customer-profile-form input:valid+.label-name::after {
    transform: translateX(0%);
}

.customer-profile-form input.sub-red-input {
    width: 100%;
    margin-top: 40px;
    border: none;
    padding: 10px 16px;
    color: #fff;
    font-family: 'Roboto Regular';
    border-radius: 40px;
}

.meal-plan-section {
    border: 1px solid #AAAAAA;
    border-radius: 10px;
    padding: 13px 25px;
}

.meal-plan-section h3 {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 800;
}

.meal-plan-section p {
    font-family: 'Roboto';
    font-size: 15px;
    margin-bottom: 0px;
    line-height: 27px;
}

.Profile-img-section {
    text-align: center;
    width: 200px;
    margin: auto;
}

.Profile-img-section .sub-red-input {
    margin-top: 20px;
}

img.Profile-img {
    border: 1px solid #707070;
}

.oder-history h2 {
    font-size: 21px;
    text-align: left;
}

.oder-history th {
    font-size: 12px;
}

.oder-history td {
    font-size: 12px;
}

.oder-history table.table {
    box-shadow: 0px 3px 48px -37px;
}

.table-meal {
    width: 100%;
    /* display: block; */

    background-color: transparent;
    font-family: 'Roboto';
}

.table-meal td {
    background-color: transparent;
    padding: 15px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #444444;
    font-size: 12px;
}

.table-meal .table-cost {
    color: #168D88;
    text-align: right;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 600;
}

.table-cost .add-btn {
    border: 1px solid #E0E0E0;
    display: inline;
    padding: 8px 25px;
    border-radius: 5px;
    margin-left: 60px;
    color: #514F4E;
    font-family: 'Roboto';
    background: transparent;
    font-weight: 600;
    outline: none;
}

.table-cost .add-btn span {
    color: red;

}

.meal-plan-upper .user-info {
    display: flex;
    align-items: center;
    gap: 7px;
}

.meal-plan-upper {
    display: flex;
    justify-content: space-between;
}

.meal-plan-upper .user-info img {
    width: 50px;
    border: 1px solid #707070;
}

.meal-plan-service {
    padding: 25px 25px 70px;
    width: 100%;
}

.user-info h4 {
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 900;
    color: #444444;
    margin-bottom: 0px;
    text-align: right;

}

.user-info p {
    margin: 0px;
    font-size: 15px;
    font-family: 'Roboto';
    text-align: right;
}

.meal-plan-service h2 {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 900;
    color: #444444;
    margin: 0px;
}

.table-meal tr {
    border-bottom: 1px solid #707070;
    border-top: none !important;
}

.upc-input input[type="text"] {
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #AAAAAA;
    outline: none;
    font-size: 12px;
}

.table-meal .table-head th {
    background: #F2F2F2;
    padding: 10px 15px;
    font-size: 13px;
}

.table-meal .table-head tr {
    border: 0px;
}

.search-bar button {
    height: 100%;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: red;
    border: none;
    outline: none;
    width: 43px;
}

.search-bar input {
    border: 1px solid #AAAAAA;
    height: 100%;
    width: 100%;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 12px;
    padding: 0px 10px;
}

.search-bar {
    display: flex;
    height: 34px;
    align-items: center;
}

.table-meal tr:last-child {
    border-bottom: 0px;
}

.right-cart {
    margin-left: 2px;
    overflow: hidden;
    position: relative;
    width: 45%;
    padding: 25px;
}

.right-cart {
    margin-left: 2px;
    overflow: hidden;
    position: relative;
    width: 45%;
    padding: 25px;
    padding-top: 70px !important;
    padding-right: 16px;
}

.price {
    color: #168D88 !important;
    font-weight: 700;
}

.right-cart p {
    font-size: 12px;
    color: #383E45;
    font-family: 'Roboto';
}

.right-cart h2 {
    font-size: 20px;
    font-family: 'Roboto';
    color: #444444;
}

.bill-summary h2 {
    font-size: 15px;
    margin-top: 30px;
}

.pament-btn {
    position: relative;
    width: 30%;
}

.pament-btn input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.box {
    display: none;
    margin-top: 20px;
}

.pament-btn label {
    border: 1px solid;
    text-align: center;
    padding: 0px 10px;
    border-radius: 5px;
    display: flex;
    height: 52px;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    font-weight: 600;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
}

.pament-btn input[type="radio"]:checked~.label-btn {
    background: #343A40 !important;
    color: #fff;
}

.card-payment label {
    width: 100%;
    align-items: center;
    gap: 5px;
    position: relative;

}

.card-payment p {
    margin: 0px;
    font-size: 11px;
}

.card-payment input[type="radio"] {
    position: absolute;
    width: 0;
    height: 100%;
    right: 0;
    top: 6px;
}

.card-payment input[type="radio"]:after {
    content: "";
    width: 11px;
    height: 6px;
    position: absolute;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    top: 6px;
    transform: rotate(-50deg);
    right: 5px;

}

.card-payment input[type="radio"]:before {
    content: "";
    background: #168D88;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0px;
    border-radius: 50%;
    opacity: 0;
}

.card-payment input[type="radio"]:checked:before {
    opacity: 1;
}

.card-payment input[type="radio"]:checked+div p,
.card-payment input:checked+div h4 {
    color: #168D88;
}

.transition input[type="text"] {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #AAAAAA;
    padding: 5px 14px;
    font-size: 12px;
}

.transition h4 {
    font-size: 17px;
    font-weight: 800;
    font-family: 'Roboto';
}

.transition input[type="radio"] {
    top: 25px;
}

.cart-amount p {
    font-size: 14px;
    color: #444444;
    margin: 0px;
    line-height: 35px;
}

.complete-modal .modal-content {

    width: 100%;
}

.complete-modal {
    text-align: center;
}

.complete-modal .red-btn {
    background: #E22428;
    border: #E22428;
    width: 60%;
    padding: 11px;
    font-size: 20px;
    font-family: 'Roboto Regular';
    border-radius: 30px;
    color: #fff;
    outline: none;
}

.complete-modal .red-btn:hover {
    color: #fff;
    text-decoration: none;
    background: #212529;
    outline: none;
}

.complete-modal .modal-body {
    padding: 55px 10px;
    font-family: roboto;
}

.today-menu-section h2,
.meal-plan.bg-light h2 {
    font-size: 27px;
    color: #444444;
    line-height: 33px;
}

.export-btn {
    font-size: 14px;
    background: #E32328;
    color: #fff;
    border: none;
    outline: none !important;
    padding: 10px 11px;
    padding-right: 23px;
    border-radius: 10px;
    font-weight: 500;
}

.export-btn img {
    margin-right: 13px;
}

.menu-card-wraper {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.menu-card.bg-light {
    width: 32%;
    padding: 15px;
    box-shadow: 0px 3px 48px -37px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-type-btn {
    font-size: 12px;
    background: #E32328;
    color: #fff;
    border: none;
    outline: none !important;
    padding: 5px 7px;
    border-radius: 5px;
    font-weight: 500;
    width: 86px;
    text-align: center;
}

.menu-img img {
    width: 100%;
    margin: 30px 0px 50px;
    opacity: 0.5;
}

ul.menu-list {
    list-style: none;
    padding-left: 0;
}

ul.menu-list li {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    position: relative;
    padding-left: 29px;
}

span.veg {
    border: 1px solid #63AF21;
    width: 15px;
    height: 15px;
    position: absolute;
    background: #fff;
    left: 0;
    top: 3px;
}

span.veg span {
    background: #63AF21;
    width: 7px;
    height: 7px;
    position: absolute;
    border-radius: 50%;
    transform: translate(37%, 3px);
}

span.non-veg {
    border: 1px solid #E53F43;
    width: 15px;
    height: 15px;
    position: absolute;
    background: #fff;
    left: 0;
    top: 3px;
}

span.non-veg span {
    background: #E53F43;
    width: 7px;
    height: 7px;
    position: absolute;
    border-radius: 50%;
    transform: translate(37%, 3px);
}

p.menu-price {
    color: #E22428;
    font-weight: 900;
    font-size: 18px;
}

.meal-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meal-right .edit-btn {
    background: #E32328;
    border: 0px;
    color: #fff;
    font-size: 15px;
    border-radius: 20px;
    width: 83px;
    padding: 6px;
    outline: none !important;
}

.meal-right .add-btn {
    background: #E32328;
    border: 0px;
    color: #fff;
    font-size: 15px;
    border-radius: 20px;
    width: 83px;
    padding: 6px;
    outline: none !important;
}

.meal-right {
    display: flex;
    align-items: center;
    gap: 17px;
}

.meal-plan {
    padding: 55px;
    border-radius: 15px;
    padding-bottom: 145px;
    box-shadow: 0px 3px 48px -37px;
}

.meal-plan-table thead tr th {
    background: #F2F2F2;
    border: none;
    color: #444444;
    font-size: 15px;
}

.meal-plan-table tbody th {
    font-size: 13px;
    font-weight: 500;
}

.meal-plan-table tbody td {
    font-size: 13px;
    color: #444444;
}

tbody tr th,
tbody tr td {
    border-bottom: 1px solid #707070;
}

.add-meal-modal .modal-content {
    width: 100%;
    border-radius: 15px;
}

.add-meal-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-meal-modal h2 {
    font-size: 33px;
    color: #444444;
    text-align: center;
    margin-bottom: 35px;
}

.add-meal-form input[type="text"] {
    width: 100%;
    margin-bottom: 15px;
    height: 50px;
    border: 1px solid #AAAAAA;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 18px;
}

.modal-body {
    padding: 52px 100px;
}

.add-meal-modal .modal-dialog {
    max-width: 635px;
}

.add-meal-form input[type="submit"] {
    background: #E32328;
    margin-top: 30px;
    border-radius: 20px;
    border: 0px;
    outline: 0px !important;
    padding: 8px 76px;
    color: #fff;
}

button.close {
    position: absolute;
    top: 15px;
    outline: none !important;
}

.pos-setting {
    border-radius: 15px;
}

.pos-setting h2 {
    font-size: 26px;
    color: #444444;
}

ul.tab-menu {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 15px;
}

.tab-menu-link {
    border: 1px solid #AAAAAA;
    padding: 5px 25px;
    border-radius: 5px;
    color: #495057;
    font-size: 18px;
    display: inline-block;
}

.tab-menu-link:hover {
    background: #E32328;
    color: #fff;
    border-color: #E32328;
    text-decoration: none;
}

.tab-menu-link.active {
    background: #E32328;
    color: #fff;
    border-color: #E32328;
}

.pos-profile-section .card-header {
    background: #F2F2F2;
    border-radius: 10px !important;
    margin-top: 20px;
}

.card-header h5 {
    font-size: 20px;
    color: #E32328 !important;
    font-weight: 900;
    width: 100%;
    text-align: left;
    text-decoration: none !important;
    padding: 0px;
}

.operating-timing {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EAE8E8;
    width: 94%;
    margin: auto;
    font-size: 22px;
    color: #444444;
    padding: 15px 10px;
    align-items: center;
}

.operating-timing p {
    margin: 0px;
}

.operating-timing .open {
    color: #20CE26;
    font-size: 22px;
    text-decoration: none !important;
}

.operating-timing .close {
    font-size: 22px;
    color: #B0B4B0;
    font-weight: 400;
    display: inline-block;
}

.operating-timing .close:hover {
    color: #B0B4B0;
}

.email-section p {
    font-size: 22px;
    color: #444444;
    margin: 0px;
}

#collapseTwo .card-body {
    padding-bottom: 5px;
}

#custom-button {
    padding: 8px 25px;
    color: white;
    background-color: #E32328;
    border: 0px solid #000;
    border-radius: 30px;
    cursor: pointer;
    font-size: 12px;
    outline: none;
}

#custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
}

.servic-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #707070;
    padding: 9px 15px;
}

.servic-type p {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 500;
    color: #444444;
}

.servic-type:last-child {
    border: none;
}

a.aad-btn,
.save-btn {
    background: #E32328;
    border: 0px;
    color: #fff;
    font-size: 15px;
    border-radius: 20px;
    width: 83px;
    padding: 6px;
    outline: none !important;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
}

.pos-info-titel h3 {
    font-size: 21px;
    color: #E32328;
    font-weight: 900;
    margin: 0px;
}

.pos-info-titel {
    background: #F2F2F2;
    border-radius: 10px;
    padding: 17px 20px;
}

.timepicker_wrapper {
    display: none;
}

/* Style for the timepicker input field */
#timepicker {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
}

/* Style for the timepicker wrapper */
.timepicker_wrapper {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    z-index: 1;
    width: 200px;
}

/* Style for the timepicker selects */
.timepicker_hour,
.timepicker_minute,
.timepicker_ampm {
    margin-right: 8px;
    font-size: 16px;
    width: 50px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

/* Style for the timepicker buttons */
.timepicker_cancel,
.timepicker_select {
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #ccc;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* Style for the timepicker select button */
.timepicker_select {
    background-color: #E32328;
}

.timepicker {
    background: url(../img/clock-solid.svg);
    background-repeat: no-repeat;
    height: 46px;
    border: 1px solid #AAAAAA;
    width: 100%;
    background-position: right;
    border-radius: 5px;
    background-position-x: 97%;
    padding: 10px 15px;
}

.timepicker_buttons {
    display: flex;
    justify-content: space-between;
}

input:checked+.slider {
    background-color: #05BE05;
}

select.timepicker_hour::-webkit-scrollbar {
    display: none;
}

select.timepicker_minute::-webkit-scrollbar {
    display: none;
}

select.timepicker_ampm::-webkit-scrollbar {
    display: none;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 7px;
    bottom: 5px;
}

.switch {
    height: 30px;
}

.open-details p {
    font-size: 20px;
    color: #444444;
}

.open-details input {
    background-repeat: no-repeat;
    height: 46px;
    border: 1px solid #AAAAAA;
    width: 100%;
    background-position: right;
    border-radius: 5px;
    background-position-x: 97%;
    padding: 10px 15px;
}

.bg-light {
    background: #fff !important;
}

button.green-btn {
    background: #05BE05;
    border: 0px !important;
    color: #fff;
    padding: 8px 20px;
    border-radius: 8px;
}

.pos-setting-btn .save-btn {
    width: 114px;
    margin-top: 20px;
}

.roud-quntity {
    width: 32px;
}

.btn-add-subcategory,
.btn-add-dish,
.btn-save-deliverydetail,
.btn-add-timing {
    font-size: 14px;
}

.pos-settings-meals-tabel tbody tr td {
    display: flex;
    align-items: center;
    padding: 10px;
}

.pos-settings-meals-tabel label {
    margin: 0px;
}

.meal-round-quntity-item {
    font-size: 15px;
}

.row.settings-meal-add input,
.row.settings-meal-add select {
    height: 40px;
    border: 1px solid #AAAAAA;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px;
    outline: none;
}

p.dishes-titel.mt-4 {
    font-family: 'Roboto Regular';
    font-size: 18px;
    color: #444444;
    font-weight: 600;
}

.settings-meal-table thead th {
    color: #444444;
    background: #F2F2F2;
    border: none;
    font-size: 14px;
    font-weight: 600;
}

.settings-meal-table tbody th {
    color: #444444;
    font-size: 14px;
    font-weight: 600;
}

.settings-meal-table tbody th,
.settings-meal-table tbody td {
    border-top: none;
}

.item-search-modal .modal-content {
    width: 100%;
    border-radius: 15px;
}

.item-search-modal .modal-body {
    padding: 40px 30px;

}

.item-search-modal .modal-dialog {
    max-width: 813px;
}

.item-search-modal input[type="checkbox"] {
    display: block;
    width: 19px;
    height: 19px;
}

.item-search-modal label.single-items {
    display: flex;
    gap: 20px;
    margin: 0;
    align-items: center;
}

.item-search-modal .search-bar {
    height: 40px;
}

div#pagingDiv {
    display: flex;
    align-items: center;
}

.end-shift .opening-input {
    max-width: 220px !important;
}

.end-shift p {
    font-size: 18px;
    margin: 0px;
}

.shift-end-price {
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    color: #168D88;
}

.end-shift .sub-btn-red {
    padding: 10px 40px;
}

.end-day-section {
    text-align: center;
    margin: auto;
    margin-top: 60px;
}

.end-day-section h2 {
    font-size: 21px;
    color: #444444;
}

.register-input {
    font-size: 22px;
    width: 150px;
    color: #343A40;
    font-weight: 700;
    text-align: center;
    height: 50px;
    background: transparent;
    border: 1px solid #000;
    outline: none;
}

.end-day-section {
    text-align: center;
    margin: auto;
    margin-top: 60px;
    width: 363px;
}

.action-dropdown a {
    color: #000;
    text-align: center;
}

.action-dropdown a::after {
    display: none;
}

.action-dropdown .dropdown-menu.show {
    min-width: auto;
    padding: 0px;
    border: 1px solid #707070;
    border-radius: 5px;
    overflow: hidden;
}

.action-dropdown a.dropdown-item {
    font-size: 11px;
    color: #444444;
    border-bottom: 1px solid #707070;
    background: #fff;
}

.action-dropdown a.dropdown-item:last-child {
    border-bottom: 0px;
}

.control-label {
    font-size: 18px;
}

td.addons ul {
    padding-left: 11px;
}

.floting-input .form-control~.form-notch div {
    border: 0px !important;
    border-bottom: 1px solid #AAAAAA !important;

}

.floting-input .form-notch-leading,
.floting-input .form-notch-trailing {
    border-radius: 0px !important;
}

.form-outline.floting-input {
    margin-top: 25px;
}

.floting-input .form-control:focus~.form-notch .form-notch-trailing,
.floting-input .form-control:focus~.form-notch .form-notch-leading,
.floting-input .form-control:focus~.form-notch .form-notch-middle {
    border-color: red !important;
    box-shadow: none !important;
}

.floting-input.form-outline .form-control~.form-label {
    top: 5px;
    color: #AAAAAA !important;
    font-size: 13px;
    left: 5px;
}

.floting-input .form-control.active~.form-label,
.floting-input .form-control:focus~.form-label {
    transform: translateY(-1.5rem) translateY(0rem) scale(1) !important;
}

.pos-reports {
    border-radius: 15px;
    padding: 38px 20px 80px;
}

.pos-reports-nav ul {
    list-style: none;
    display: flex;
    gap: 23px;
    padding-left: 32px;
}

.pos-reports-nav-link {
    border: 1px solid #AAAAAA;
    padding: 6px 31px;
    border-radius: 5px;

}

.pos-reports-nav-link {
    font-size: 18px;
    color: #495057 !important;
    text-decoration: none !important;
}

.pos-reports-nav .active {
    background: #E32328;
    border-color: #E32328;
    color: #fff !important;
}

.search-filter-section select {
    width: 100%;
    height: 30px;
    border: 1px solid #707070;
    border-radius: 5px;
    font-size: 11px;
    outline: none;
    color: #666666;
}

.search-filter-section input#fecha1 {
    width: 100%;
    height: 30px;
    border: 1px solid #707070;
    border-radius: 5px;
    font-size: 11px;
    outline: none;
    color: #666666;
}

.search-filter-section .input-group-append {
    position: absolute;
    right: 0;
    height: 100%;
    border: 1px solid #707070;
    border-radius: 5px;
    overflow: overlay;
}

.search-filter-section span.input-group-text {
    padding: 9px;
    font-size: 12px;
    height: 100%;
    border: none;
}

.red-btn {
    background: #E32328;
    border: 0px;
    color: #fff;
    height: 29px;
    border-radius: 30px;
    font-size: 13px;
    min-width: 93px;
    outline: none !important;
}

.search-filter-section {
    width: 95%;
    margin: auto;
    margin-top: 45px;
}

.export-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fromto-date {
    font-size: 15px;
    font-weight: 600;
    color: #212529;
}

.export-section button.export-btn {
    border-radius: 30px;
    padding: 6px 17px;
    font-size: 13px;
}

.export-section.export-btn img {
    margin-right: 5px;
    height: 18px;
}

.pos-report-table thead tr th {
    font-size: 13px;
}

.pos-report-table tbody tr td {
    font-size: 13px;
}

.pos-report-table tbody tr td {
    border: 0px;
}

.pos-report-table tbody tr {
    border-bottom: 1px solid #707070;
}

.pos-report-table tbody tr:last-child {
    border-bottom: 0px;
}

.table-box {
    padding-bottom: 70px;
    box-shadow: 0px 3px 48px -37px;
}

.datepicker-orient-bottom {
    min-width: 10px;
}

.Customer-filter-section {
    margin-top: 20px;
}

.large-data tbody tr td {
    border: 0px;
    padding: 5PX;
}

.search-input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #AAAAAA;
    height: 33px;
    font-size: 13px;
    padding: 0px 15px;
    outline: none;
}

.pos-report-table-customers .action {
    width: 10%;
}

.pos-report-table-customers thead tr th {
    font-size: 13px;
    width: 30%;
}
.info-user-img {
    border: 1px solid #707070;
    width: 188px;
}
.user-info {
    width: 32%;
}
.customers-info h2 {
    font-size: 20px;
    margin-bottom: 4px;
    font-weight: 700;
}
.customers-info p {
    font-size: 14px;
    text-align: left;
    line-height: 25px;
}
@media screen and (min-width: 1367px) {
    .end-shift {
        max-height: 482px;
        min-height: 482px;
    }

    .end-shift .right-menu {
        height: 96%;
    }
}

@media screen and (max-width: 1000px) {
    a.right-nav-link {
        font-size: 16px;
        color: #444444;
        font-weight: 700;
        font-family: 'Roboto';
        padding: 5px;
    }

    .right-menu li {
        margin: 11px 0px;
    }

    td.table-cost {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: end;
    }

    .right-menu {
        height: auto;
    }

    .table-cost .add-btn {
        padding: 8px 10px;
        width: 65px;
        margin: 0px;
    }

    tbody tr th,
    tbody tr td {
        border: none;
    }

    .right-cart {
        padding: 20px 9px;
        padding-left: 0px;
    }

    .cart-amount p {
        font-size: 12px;
        color: #444444;
        margin: 0px;
        line-height: 20px;
        margin-bottom: 18px;
    }

    .opening-balance-section {
        margin-top: 20px;
    }

    .opening-balance-section h1 {
        font-size: 22px;
        margin: 0px;
    }

    .opening-balance-section input[type="text"] {
        width: 100%;
        border: 1px solid #707070;
        padding: 0px 10px;
        font-size: 25px;
        margin-bottom: 13px;
    }
    .Customer-filter-section .col-12.col-md-6.col-lg-3:first-child {
        display: none;
    }
    .pos-report-table-customers thead tr th {
        width: auto;
    }
}