.country-code{margin-top:40px}
.country-code select{width:100%;border-top:0;border-left:none;border-right:0;border-color:#ccc}
.form-group input[type="file"]{margin:2px 0 0 0;padding-bottom:30px;opacity:1}
.form-group_ .form-group{margin:0 0 0 0!important}
.m-top{margin-top:15px}
.wizard-container{padding-top:18px;padding-bottom:15px}
.input-group{display:block}
.login-button{background:#e32328;border:0;padding:6px 60px;border-radius:20px;color:#fff}
.sign-up-text_color{color:#e32328}
.font-weight_400{font-weight:400}